{% comment %} {% extends 'template.html' %} {% endcomment %}

{% block titulo %}
Login do Usuário
{% endblock %}

{% block conteudo %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body style="text-align: center; font-family: Segoe UI;">
    <div>
        {% comment %} <img class="imgpython" src="{% static 'giphy.gif' %}" alt=""> {% endcomment %}
        <h1 style="text-align: center; font-size: 25px; font-family: Segoe UI;">
            Por favor, crie a sua conta
        </h1>
    <div class='container'>

        <form method="POST" action="/cadastro/">
            {% csrf_token %}
            
            <!-- Nome -->
            <div>
                <input style="margin: 5px" class="inputlogin" autocomplete="off" type="text" name="nome" placeholder="Nome">
            </div>
            
            <!-- E-mail -->
            <div>
                <input style="margin: 5px" class="inputlogin"  autocomplete="off" type="email" name="email" placeholder="E-mail">
            </div>
            
            <!-- Senha -->
            <div>
                <input style="margin: 5px" class="inputlogin" type="password" name="senha" placeholder="Senha">
            </div>
            
            <!-- Perfil (Admin ou Usuário) -->
            <div class="radio-group">
                <label for="admin">
                    <input type="radio" id="admin" name="perfil" value="administrador" style="margin-right: 8px;">
                    Administrador
                </label>
                <label for="usuario">
                    <input type="radio" id="usuario" name="perfil" value="usuario" style="margin-right: 8px;">
                    Usuário
                </label>
            </div>
            
            <br>
            <button class="botaologin" type="submit">Cadastrar</button>
        </form>

    </div>
        
        <script>
            // Limpa os campos do formulário ao entrar na tela
            $(document).ready(function() {
                $('input[name="nome"]').val('');
                $('input[name="email"]').val('');
                $('input[name="senha"]').val('');
            });
        </script>
    </div>
</body>
{% endblock %}