<h2>Carrinho de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for id, item in carrinho.items %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>R$ {{ item.preco }}</td>
            <td>{{ item.quantidade }}</td>
            <td>
                <a href="{% url 'adicionar_ao_carrinho' id %}">Adicionar</a>
                <a href="{% url 'remover_do_carrinho' id %}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: R$ {{ total }}</p>
