<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato</title>
    {% load static %}
    <!-- Incluir a folha de estilo CSS -->
    <link rel="stylesheet" href="{% static 'css/contanto.css' %}">
</head>
<body>

    <div class="container">
        <h1>Formulário de Contato</h1>

        <form method="POST">
            {% csrf_token %}
            <!-- Esta tag Django insere um token de segurança CSRF (Cross-Site Request Forgery) no formulário.
                 O token CSRF ajuda a proteger o formulário contra ataques de CSRF, que podem ser usados para enviar dados não autorizados para o servidor. -->

            <div class="form-group">
                {{ form.as_p }}
                <!-- Esta tag Django gera o markup HTML para todos os campos do formulário definidos na classe do formulário Django.
                     A tag {{ form.as_p }} usa o método as_p da classe do formulário para gerar o HTML em formato de parágrafos (<p>). -->
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

</body>
</html>