{% extends "template.html" %}
{%block titulo%}
Contatos
{%endblock%}
{% block conteudo%}
<h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Chamados</h2>
    <table>
      <thead>
          <tr>
            <th>Nome</th>
              <th>Email</th>
              <th>Mensagem</th>
              <th>Situação</th>
              <th>Ação</th>
          </tr>
      </thead>
      <tbody>
          {% for contato in contatos %}
              <tr>
                  <td>{{ contato.1 }}</td>
                  <td>{{ contato.2 }}</td>
                  <td>{{ contato.3 }}</td>
                  <td>
                   
                    Não Atendido 
                    
                    <td>
                      {% if contato.4|length == 0%}
                      <a href="/atendimento/{{ contato.0}}" class="editar">Atender</a>
                      {% else %}
                      <a href="/atendimento/{{ contato.0}}" class="editar">Editar</a>
                      {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

 

   
    
{%endblock%}
    