<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boxmore</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="icon" href="{% static 'icon-camisa.png' %}" type="image/png">
  <script src="{% static 'script.js' %}"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <style>

    .menu-icon:disabled{
      background-color: #ccc;
      cursor: not-allowed;
    }

    .logout-link {
      display: block;
      margin-top: 10px; 
      text-align: center;
      color: #000; 
      text-decoration: none; 
    }

    .logout-link:hover {
      text-decoration: underline;
    }

    .perfil-container {
      justify-content: right;
    }

    .usuario-nome {
      margin-top: 10px; 
      font-size: 14px; 
      font-weight: bold; 
    }

   
    .imagem-antiga {
        outline: none;
        border: none;
        width: 50px; 
        height: 50px;
    }

    .imagem-logout {
        outline: none;
        border: none;
        width: 100px; 
        height: 100px;
        cursor: pointer; 
    }

    .perfil-container a:hover {
        cursor: pointer;
        background-color: none;
    }

  </style>

</head>
<body>

  <!-- Barra de navegação -->
  <nav class="navbar" id="patrao">
    <div class="navbar-title">Boxmore</div>
  
    <!-- Barra de pesquisa -->
    <div class="search-bar">
      <form method="get" action="{% url 'busca_produtos' %}">
        <input type="text" class="search-input" autocomplete="off" placeholder="Pesquise..." value="{{ request.GET.query }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  
    <div class="menu">
      {% if usuario_logado %}
      <div class="perfil-container">
        <img src="{% static 'perfil-conta.png' %}" alt="Perfil" class="imagem-antiga">
        <div class="usuario-nome">{{ usuario_logado }}</div> 
      </div>
      {% else %}
      <div class="perfil-container">
        <a href="{% url 'login' %}">
          <img src="{% static 'perfil-conta.png' %}" alt="Perfil" class="imagem-logout">
        </a>
      </div>
      {% endif %}

    <div class="menu">
    
      {% if usuario_logado %}
      <a href="{% url 'logout' %}">Sair</a> 
      {% endif %}

      <a href="{% if usuario_logado %}{% url 'carrinho' %}{% else %}#{% endif %}" class="carrinho-icon {% if not usuario_logado %}desabilitado{% endif %}">
        <img src="{% static 'carrinho.png' %}" alt="Carrinho">
      </a>
      {% if request.session.perfil == 'administrador' %}
      <a href="/usuarios" alt="usuarios">Usuários</a>
      {% endif %}
      <a href="{% url 'suporte' %}" alt="Suporte">Suporte</a>
    </div>
  </nav>

  <!-- Banner principal -->
  <div class="banner">
    <img src="{% static 'img-banner.png' %}" alt="Promoções especiais" class="banner-image">
  </div>
  <br><br>


    <h2>Produtos em Promoção</h2>
    <div class="carrosselgeral">

      <h1>-Roupas</h1>
      <div id="caroucel1" class="caixa1">
  
          <div class="caixa-imagens" id="carousel-camisa">
              <div class="container">
                  <img
                      src="https://images.tcdn.com.br/img/img_prod/747002/camiseta_masculina_hoshwear_liquid_marrom_1453_1_01d47d39ae9925b8eacddf1fbf2c17a2.jpg"
                      alt="Imagem 1">
                  <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 1', 99.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://m.media-amazon.com/images/I/51RrSg2H3rL._AC_SY695_.jpg"
                      alt="Imagem 2">
                  <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 2', 199.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://rsv-ink-images-production.s3.sa-east-1.amazonaws.com/images/product_v2/main_image/fe1eb40c94f1d0e374ff813a74f6b516.webp"
                      alt="Imagem 3">
                  <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 3', 299.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRUvI2W9CzhNzBl1rKnhyj3f_wsnNVZpXGzZlMcQRxBT5vpsti6OpgBVs8TbPVsOsl4oome8KTuI7XzhYH2kWv-rfnScZ0GxzA2d4Q5-4QIY_QfXaOjjt8ncS9dRa9ENl26891mj7I&usqp=CAc"
                      alt="Imagem 4"> <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 4', 99.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQRtrSCxvNXGPjqUbdVviKh--ommZpbJ5aax8J2BSFkJ09Fdxe4LimTV1maj7LO6JGvRLoWBeIsYQJc2SQ5_dQl9pZubWMbekjavEhQ0shMM_hQxIfLz25rZANBHWDQNViwfEv--DlUIk4&usqp=CAc"
                      alt="Imagem 5"><button class="btn"
                      onclick="adicionarAoCarrinho('Produto 5', 199.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSrY4SeJIaiGvZzpA7jqt7rPjbIlRpFJTRNtEIVi6VhEFWM_TKMI4Ka9spQfi8pfrKRVEYzDj7r5sPwLFCRn85Zjlaf-JRP9X0Q1IZH03dQXdyl4httb2tyxRQ7gMFSNnydFlhFbEQ&usqp=CAc"
                      alt="Imagem 6"> <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 6', 299.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src=" https://img.ltwebstatic.com/images3_spmp/2024/12/22/93/17348238695df616250154fd025abec6933bdf2c7f_thumbnail_900x.webp"
                      alt="Imagem 7"><button class="btn"
                      onclick="adicionarAoCarrinho('Produto 7', 99.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSumGc42E6KqAutRz3T9ZQJYLNXC0xj1ktUAD-gvgbnayRzh3hDbS94-WwjCFMk7bDMUEbp-XxB11B6fu_W9Mfi1ahZZPyZCaLllVlh9s6dpJJPhJd7St9Dvr4&usqp=CAc"
                      alt="Imagem 8"><button class="btn"
                      onclick="adicionarAoCarrinho('Produto 8', 199.90)">Comprar</button>
  
              </div>
  
              <div class="container">
                  <img
                      src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTJHBv0cOqlpp2lXyXDq6q3FcINrdGLTOh6r8men-mTvVjmCheVQ90Afms5A-QeXjoxzNLB2OP89lp2hDSuHplztLBpGTY8TUhKyoxtonyhjwpmkesaZ_Sl&usqp=CAc"
                      alt="Imagem 9"> <button class="btn"
                      onclick="adicionarAoCarrinho('Produto 9', 299.90)">Comprar</button>
  
              </div>
  
          </div>
          <button class="button left" id="btnLeftCamisa">&#9664;</button>
          <button class="button right"
              id="btnRightCamisa">&#9654;</button>
      </div>
  
      <h1>-Tenis</h1>
      <div class="caixa1" id="caroucel2">
          <div class="caixa-imagens" id="caroucel-tenis">
  
              <div class="caixa-imagens" id="carousel-tenis">
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 1">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 1', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 2">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 2', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 3">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 3', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 4"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 4', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 5"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 5', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 6"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 6', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 7"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 7', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 8"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 8', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 9"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 9', 299.90)">Comprar</button>
  
                  </div>
  
              </div>
          </div>
          <button class="button left" id="btnLeftTenis">&#9664;</button>
          <button class="button right" id="btnRightTenis">&#9654;</button>
  
      </div>
  
      <h1>-Meias</h1>
  
      <div class="caixa1">
          <div class="caixa-imagens" id="caroucel-meias">
  
              <div class="caixa-imagens" id="carousel-meias">
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 1">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 1', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 2">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 2', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 3">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 3', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 4"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 4', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 5"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 5', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 6"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 6', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 7"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 7', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 8"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 8', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 9"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 9', 299.90)">Comprar</button>
  
                  </div>
  
              </div>
          </div>
          <button class="button left" id="btnLeftMeias">&#9664;</button>
          <button class="button right" id="btnRightMeias">&#9654;</button>
  
      </div>
  
      <h1>-Acessorios</h1>
  
      <div class="caixa1">
          <div class="caixa-imagens" id="caroucel-acessorios">
  
              <div class="caixa-imagens" id="carousel-acessorios">
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 1">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 1', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 2">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 2', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 3">
                      <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 3', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img
                          src=" "
                          alt="Imagem 4"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 4', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 5"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 5', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 6"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 6', 299.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 7"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 7', 99.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 8"><button class="btn"
                          onclick="adicionarAoCarrinho('Produto 8', 199.90)">Comprar</button>
  
                  </div>
  
                  <div class="container">
                      <img src=" "
                          alt="Imagem 9"> <button class="btn"
                          onclick="adicionarAoCarrinho('Produto 9', 299.90)">Comprar</button>
  
                  </div>
  
              </div>
  
          </div>
          <button class="button left"
              id="btnLeftAcessorios">&#9664;</button>
          <button class="button right"
              id="btnRightAcessorios">&#9654;</button>
      </div>
  </div>

  <!-- Rodapé -->
  <footer class="rodape">
    <div class="info">
      <h3>Boxmore</h3>
      <p>© 2024 Todos os direitos reservados.</p>
    </div>
    <div class="links">
      <a href="{% url 'sobrenos' %}">Sobre Nós</a>
    </div>
    <div class="redes-sociais">
      <a href="#"><img src="{% static 'face.img' %}" alt="Facebook"></a>
      <a href="#"><img src="{% static 'insta.img' %}" alt="Instagram"></a>
      <a href="#"><img src="{% static 'whats.img' %}" alt="WhatsApp"></a>
    </div>
  </footer>

</body>
</html>
