{% extends "template.html" %}
{%block titulo%}
<title>Lista de usuarios</title>

{%endblock%}
{% block conteudo%}

<head>
    {% load static %}
    <link rel="icon" href="{% static 'icon-camisa.png' %}" type="image/png">
</head>

    <h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Usuários Cadastrados</h2>
   
    <table>
      <thead>
          <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Perfil</th>
          </tr>
      </thead>

      <tbody>
          {% for usuario in usuarios %}
              <tr>
                  <td>{{ usuario.1 }}</td>
                  <td>{{ usuario.2 }}</td>
                  <td>{{ usuario.4 }}</td>
                  <td>
                    <a href="/excluirususario/{{ usuario.0}}" class="excluir">Excluir</a>
                    <a href="/editarusuario/{{ usuario.0}}" class="editar">Editar</a>
                  
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{%endblock%}