body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(73, 53, 53, 0.8);
    background-size: cover;
    

}

.container {
    background-color: #f2f2f267;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 100px -40px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;

 
}

form {
    margin-top: 20px;
    font-family: fantasy;

}

label {
    display: block;
    margin-bottom: 5px;
   
}

input {
   
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
}

.message {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}