{% comment %} {% extends "template.html" %}
{%block titulo%}

{%endblock%}
{% block conteudo%}
{% load static %}


<h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Bem vindo: {{ nome_usuario }}!</h2>
    <div class="divimg">
      <img class="imgpython"  src="{% static 'giphy.gif' %}" alt="">
      </div>
{%endblock%} {% endcomment %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boxmore</title>
  {% load static %}
  <link rel="stylesheet" href="{{ STATIC_URL }}static/index.css">
  <link rel="icon" href="static/img/loja1.png" type="image/png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Carregar o Bootstrap -->
    <link href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
   
    <!-- Carregar o seu CSS personalizado depois do Bootstrap -->
  
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <style> {% endcomment %}

    .modal-backdrop {
      display: none !important;
    }
    
  
  </style>






</head>
<body>

  <nav class="navbar" id='patrao'>
    <div class="navbar-title">Boxmore</div>
    
    <div class="search-bar">
      {% comment %} <form method="get" action="{% url 'busca_produtos' %}"> {% endcomment %}
        <input type="text" name="query" placeholder="Pesquisar produto" value="{{ request.GET.query }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Filtrar
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filtragem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
      <div class="modal-body" id= "m-body">

              <input type="text" name="categoria" placeholder="Categoria" value="{{ request.GET.categoria }}"><br>
              <input type="text" name="marca" placeholder="Marca" value="{{ request.GET.marca }}"><br>
              <input type="text" name="cor" placeholder="Cor" value="{{ request.GET.cor }}"><br>
              <input type="number" name="preco_min" placeholder="Preço Mínimo" value="{{ request.GET.preco_min }}"><br>
              <input type="number" name="preco_max" placeholder="Preço Máximo" value="{{ request.GET.preco_max }}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> 

    <div class="menu">
      {% comment %} <a href="{% url 'suporte' %}">Suporte</a>
      <a href="{% url 'carrinho' %}">🛒</a> {% endcomment %}
      <div class="dropdown">
        <button class="dropbtn">Categorias</button>
        <div class="dropdown-content">
          <a href="#perfil">Perfil</a>
          <a href="#perfil">Favoritos</a>
          <a href="#perfil">Configuações</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="banner">
    <img src="img/banner4.png" alt="Promoções especiais" class="banner-image">
    <!-- <div class="banner-text">
      <h1>Bem-vindo à Minha Loja</h1>
      <p>Confira as ofertas imperdíveis de hoje!</p>
      <a href="#destaques" class="btn-ofertas">Ver Ofertas</a>
    </div> -->
  </div>
  <br> 


  <section id="destaques" class="produtos-destaque">
    <h2>Produtos em Promoção</h2>
    <br>
    <div class="produtos">
      {% for produto in produtos %}
        <div class="produto">
          <img src="{% static produto.imagem %}" alt="{{ produto.nome_produto }}">
          <h3>{{ produto.nome_produto }}</h3>
          <p>R$ {{ produto.preco }}</p>
          <p>Categoria: {{ produto.categoria }}</p>
          <p>Marca: {{ produto.marca }}</p>
          <p>Cor: {{ produto.cor }}</p>
          <button class="add-carrinho">
            <a href="#">Adicionar ao Carrinho</a>
          </button>
        </div>
      {% empty %}
        <p>Nenhum produto disponível no momento.</p>
      {% endfor %}
    </div>
  </section>
  <br> <br>

  <footer class="rodape">
    <div class="info">
      <h3>Boxmore</h3>
      <p>© 2024 Todos os direitos reservados.</p>
    </div>
    <div class="links">
      {% comment %} <a href="{% url 'sobrenos' %}">Sobre Nós</a> {% endcomment %}

    </div>
    <div class="redes-sociais">
      <a href="#"><img src="static/img/face.img" alt="Facebook"></a>
      <a href="#"><img src="static/img/insta.img" alt="Instagram"></a>
      <a href="#"><img src="static/img/whats.img" alt="Twitter"></a>
    </div>
  </footer>
</body>
</html>
