{% extends "template.html" %}
{%block titulo%}
Usuários TI
{%endblock%}
{% block conteudo%}
{% load static %}
    <h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Usuários</h2>
   
    <table>
      <thead>
          <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Ações</th>
          </tr>
      </thead>

      <tbody>
          {% for usuario in usuarios %}
              <tr>
                  <td>{{ usuario.1 }}</td>
                  <td>{{ usuario.2 }}</td>
                  <td>
                    <a href="/excluirususario/{{ usuario.0}}" class="excluir">Excluir</a>
                    <a href="/editarusuario/{{ usuario.0}}" class="editar">Editar</a>
                  
                </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
    <div class="divimg">
        <img class="imgpython"  src="{% static 'giphy.gif' %}" alt="">
              </div>
            
{%endblock%}